<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Learn more about our journey</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/newabout1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Inception</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> We began by engaging with the community through sessions, discussing common challenges such as poverty, gender-based violence, child abuse, and teenage pregnancy. Our goal was to create awareness and positive change in these areas.
                                        </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/newabout2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Introducing Food Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our sessions took place from 10:00 AM to 2:00 PM, and one day we decided to bring bread, coffee, and tea because people were always hungry after our sessions. We started bringing homemade meals, which the participants, particularly the seniors, greatly appreciated. This positive response motivated me to make it a regular occurrence.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/newabout6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">Transition to Serving Youth</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We found that when we left a 14:00, there were always children coming to play who would see us eating lunch; you could see from their faces that they were hungry. To address this, we decided to extend our services and began serving soup to alleviate the hunger of these children.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/newabout4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">Seeking Funds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the absence of sponsors, we initially operated as a once-a-week program. Our aim was not to establish an organization but to provide immediate sustenance to people in need. It was quite a struggle because we were only bringing food from our house, and some days, we didn't have any to bring. Fortunately, we now have some support from local grocers who provide us with groceries and food parcels.</p>
                                </div>
                            </div>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/newabout5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">What We Do Today</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Today we serve 800 people daily across six volunteer kitchens in Dunoon, Joslovo, Phoenix, and summer greens. We have 18 volunteers, three working in each kitchen.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>