<!-- Services Section -->
    <section id="services">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">HERE'S HOW YOU CAN HELP!</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 0;">Donations allow us to fund our food supply and reach more of our community. We appreciate donations of any size and thank you for your thoughtfulness. If you have any questions about other ways to get involved, please get in touch with us via our contact form. </h3>
                <br>
                <div class="info-box">
                    <img src="img/eftpmt.png" alt="">
                    <p class="info-title">Bank name:</p>
                    <p>First National Bank</p>
                  
                    <p class="info-title">Swift Code:</p>
                    <p>FIRNZAJJ</p>
                  
                    <p class="info-title">Account Number:</p>
                    <p>62818024193</p>
                  
                    <p class="info-title">Branch Code:</p>
                    <p>250655</p>
                  </div>
                <br>
                <br>
                <br>
            </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mission</h2>
                    <h3 class="section-subheading text-muted">Our mission is to eradicate poverty in the community at large. We aim to provide food security in vulnerable underprivileged, and impoverished communities.
                    </h3>
                </div>
            </div>
            <div class="row text-center" style="margin-bottom: 50px;">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/kolisi_copy/nutrition.jpg" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Nutrition</h4>
                    <p class="text-muted">We work with our volunteer kitchens to provide food to seniors and to youth before and after school.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/kolisi_copy/relief.jpg" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Relief</h4>
                    <p class="text-muted">Providing nutrition allows our beneficiaries to live a fuller life where they don't have to worry about access to food.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/kolisi_copy/transformation.jpg" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Empowerment</h4>
                    <p class="text-muted">Empowerment means more than just the provision of food. We provide skill workshops for the unemployed within our communities and give youth access to various recreational and creative opportunities.</p>
                </div>
            </div>
    </section>
